.wrapper {
  margin: 0 auto;
  width: 1200px;
}
body {
  background-color: #f3f5f7;
}

/* header */
.header {
  height: 100px;
  background: #fff;
}
.header .wrapper {
  display: flex;
  padding-top: 29px;
}
.logo a {
  width: 195px;
  height: 41px;
}
.nav {
  margin-left: 102px;
}
.nav ul {
  display: flex;
}
.nav li {
  margin-right: 24px;
}
.nav li a {
  display: block;
  padding: 0 8px;
  line-height: 27px;
  font-size: 19px;
}
.nav li .active,
.nav li a:hover {
  border-bottom: 2px solid #00a4ff;
}

.search {
  display: flex;
  margin-left: 64px;
  padding-left: 19px;
  padding-right: 12px;
  width: 412px;
  height: 40px;
  background-color: #f3f5f7;
  border-radius: 20px;
}
.search input {
  flex: 1;
  border: 0;
  background-color: transparent;
  outline: none;
}
.search input::placeholder {
  font-size: 14px;
  color: #999;
}
.search a {
  align-self: center;
  width: 16px;
  height: 16px;
}
.user {
  margin-left: 32px;
}

.banner {
  height: 420px;
  background-color: #0092cb;
}
.banner .wrapper {
  height: 420px;
  display: flex;
  justify-content: space-between;
}

.banner .left {
  width: 191px;
  height: 420px;
  background-color: rgba(0, 0, 0, 0.42);
  padding: 3px 20px;
}
.banner .left a {
  display: block;
  height: 46px;
  line-height: 46px;
  font-size: 16px;
  color: #fff;
}
.banner .left a:hover {
  color: #00a4ff;
}
.banner .right {
  width: 218px;
  height: 305px;
  background-color: #209dd5;
  margin-top: 60px;
  border-radius: 10px;
}
.banner .right h3 {
  margin-left: 14px;
  height: 48px;
  line-height: 48px;
  font-size: 15px;
  color: #fff;
  font-weight: 400;
}
.banner .right .content {
  height: 257px;
  background-color: #fff;
  border-radius: 10px;
  padding: 14px;
}
.banner .right dl {
  margin-bottom: 12px;
  border-bottom: 1px solid #e0e0e0;
}
.banner .right dt {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}
.banner .right dd {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 8px;
}
.banner .right dd span {
  color: #00a4ff;
}
.banner .right dd strong {
  color: #7d7d7d;
  font-weight: 400;
}
.banner .right a {
  display: block;
  background-color: #00a4ff;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border-radius: 15px;
  font-size: 14px;
  color: #fff;
}
.recommend {
  margin-top: 15px;
  height: 60px;
  padding: 0 20px;
  line-height: 60px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(211, 211, 211, 0.5);
  display: flex;
}
.recommend h3 {
  font-size: 18px;
  color: #00a4ff;
  font-weight: 400;
}
.recommend ul {
  flex: 1;
  display: flex;
}
.recommend ul li a {
  padding: 0 24px;
  border-right: 1px solid #e0e0e0;
  font-size: 18px;
}
.recommend ul li:last-child a {
  border-right: none;
}
.recommend .modify {
  font-size: 16px;
  color: #00a4ff;
}

.course {
  margin-top: 15px;
}
.hd {
  height: 60px;
  line-height: 60px;
  display: flex;
  justify-content: space-between;
}
.hd h3 {
  font-size: 21px;
  font-weight: 400;
}
.hd a {
  font-size: 14px;
  color: #999;
}
.bd ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bd li {
  width: 228px;
  height: 271px;
  background-color: pink;
  margin-bottom: 14px;
}
.bd li .pic {
  height: 156px;
}
.bd li .text {
  height: 115px;
  background-color: #fff;
  padding: 20px;
}
.bd li .text h4 {
  height: 40px;
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.bd li .text p {
  font-size: 14px;
  line-height: 20px;
  color: #999;
}
.bd li .text p span {
  color: #fa6400;
}
.bd li .text p i {
  font-style: normal;
}

.hd ul {
  display: flex;
}
.hd li {
  margin-right: 60px;
  font-size: 16px;
}
.hd li .active {
  color: #00a4ff;
}
.bd {
  display: flex;
  justify-content: space-between;
}
.bd .left {
  width: 228px;
  background-color: pink;
  padding-top: 50px;
  padding-left: 20px;
}
.bd .left h3 {
  /* margin-top: 50px; */
  font-size: 20px;
  margin-bottom: 10px;
}
.bd .left h4 {
  margin-bottom: 40px;
}
.bd .left p {
  margin-bottom: 40px;
}
.bd .right {
  width: 957px;
  background-color: pink;
}
.bd .right .top {
  height: 50px;
  background-color: #0092cb;
  margin-bottom: 10px;
}
.footer {
  margin-top: 60px;
  height: 273px;
  padding-top: 60px;
  background-color: #fff;
  
}
.footer .wrapper {
    display: flex;
    justify-content: space-between;
}
.footer  .left {
    width: 440px;
    background: pink;
}